<div class="jumbotron">
  <h2>Welcome to the Codetalk Cafe!</h2>
  <p class="lead">An attempt to gather<br />all the best programming talks!</p>
  <%= if current_user(@conn) do %>
    <p><%= current_user(@conn).name %></img>
  <% end %>
</div>

<%= unless current_user(@conn) do %>
  <a style="text-align:center" href="/auth">
    <img style="padding-left: 45%" src="/images/github-mark.png">
    <h1>Login with GitHub</h1>
  <a>
<% end %>

<div class="row marketing">

</div>
